@import '_responsive.scss';

$josefin: 'Josefin Sans', sans-serif;

body{
    margin: 0;
    padding: 0;
}
.wrap-content{
    position: relative;
    background-color: #053287;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    @include desktop-and-below(){
        padding-bottom: 10%;
    }
    @include desktop-only(){
        min-height: 100vh;
    }
    @include tablet-landscape-and-below(){
        padding-bottom: 50%;
    }
    @include tablet-only(){
        padding-bottom: 35%;
    }
    @include mobile-portrait-only(){
        padding-bottom: 70%;
    }
}

#landing-lgef{
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 5px;
        @include full-hd(){
            padding: 60px 0 30px;
        }
        @include desktop-and-below(){
            padding: 20px 15%;
        }
        @include desktop-only(){
            padding: 20px 0 5px;
        }
        @include tablet-only(){
            padding: 30px 10%;
        }
        @include mobile-landscape-and-below(){
            padding: 20px 30px;
            box-sizing: border-box;
        }
        img{
            width: 125px;
            margin-right: 40px;
            @include full-hd(){
                width: 135px;
            }
            @include desktop-only(){
                width: 125px;
            }
            @include mobile-landscape-and-below(){
                width: 66px;
                margin-right: 23px;
            }
        }
    }
    h1{
        text-align: left;
        font-family: $josefin;
        font-weight: bold;
        font-size: 45px;
        line-height: 45px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px;
        @include full-hd(){
            font-size: 52px;
            line-height: 52px;
        }
        @include desktop-and-below(){
            font-size: 38px;
            line-height: 40px;
        }
        @include desktop-only(){
            font-size: 45px;
            line-height: 45px;
        }
        @include tablet-only(){
            font-size: 34px;
            line-height: 40px;
        }
        @include mobile-landscape-and-below(){
            font-size: 16px;
            line-height: 22px;
            margin: 0;
        }
        @include mobile-portrait-only(){
            font-size: 17px;
            line-height: 21px;
        }
    }

    .content{
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 15px;
        @include full-hd(){
            padding-bottom: 40px;
        }
        @include desktop-and-below(){
            width: 70%;
            margin: auto;
            align-items: center;
            flex-direction: column;
        }
        @include desktop-only(){
            width: 100%;
            margin: auto;
            align-items: flex-end;
            flex-direction: row;
            padding-bottom: 15px;
        }
        @include tablet-only(){
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: auto;
        }
        @include mobile-landscape-and-below(){
            flex-direction: column;
            width: 80%;
            margin: auto;
        }
        .left {
            @include desktop-and-below(){
                width: 100%;
            }
            @include desktop-only(){
                width: auto;
            }
            @include tablet-only(){
                width: 100%;
            }
            img {
                height: 400px;
                margin-right: 30px;
                @include desktop-and-below(){
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                @include desktop-only(){
                    width: auto;
                    height: 400px;
                    margin-right: 30px;
                    margin-bottom: 0px;
                }
                @include tablet-only(){
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                @include mobile-landscape-and-below(){
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 490px;
            @include desktop-and-below(){
                width: 100%;
            }
            @include desktop-only(){
                width: 490px;
            }
            @include tablet-only(){
                width: 100%;
            }
            @include mobile-landscape-and-below(){
                width: 100%;
            }
        }
        >img{
            width: 470px;
            @include full-hd(){
                width: 540px;

            }
            @include desktop-only(){
                width: 470px;
            }
            @include tablet-only(){
                margin-bottom: 35px;
            }
            @include mobile-landscape-and-below(){
                margin-bottom: 35px;
                width: 100%;
            }
        }
        .card{
            text-decoration: none;
            background: #FFFFFF;
            border: 5px solid #053287;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 215px;
            height: 164px;
            border: none;
            transition: ease-in-out .1s all;
            margin-right: 20px;
            margin-bottom: 18px;
            border: 5px solid #F8F8F8;
            &:nth-last-of-type(2n+2) {
                margin-right: 0px;
            }
            &:nth-last-of-type(1) {
                margin-bottom: 3px;
            }
            @include full-hd(){
                width: 215px;
                height: 164px;
            }
            @include desktop-and-below(){
                width: 338px;
                height: 230px;
            }
            @include desktop-only(){
                width: 215px;
                height: 164px;
            }
            @include tablet-only(){
                margin-left: 0 !important;
                margin-right: 0;
                justify-content: flex-start;
                flex-direction: row;
                padding: 30px 60px;
                box-sizing: border-box;
                width: 100%;
                height: 230px;
                &:nth-last-of-type(1) {
                    margin-bottom: 20px;
                }
            }
            @include mobile-landscape-and-below(){
                width: 100%;
                height: 130px;
                margin-left: 0 !important;
                margin-right: 0 !important;
                flex-direction: row;
                justify-content: flex-start;
                padding: 25px 20px;
                box-sizing: border-box;
                &:nth-last-of-type(1) {
                    margin-bottom: 18px;
                }
            }
            img{
                width: 90px;
                transition: ease-in-out .3s all;
                @include desktop-and-below(){
                    width: 110px;
                    height: 120px;
                    object-fit: contain;
                    object-position: center;
                }
                @include desktop-only(){
                    width: 90px;
                    height: 90px;
                    object-fit: contain;
                    object-position: center;
                }
                @include tablet-only(){
                    width: 115px;
                    height: 150px;
                    object-fit: contain;
                    object-position: center;
                }
                @include mobile-landscape-and-below(){
                    width: 80px;
                    height: 90px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            &#lgef-button{
                @include tablet-only(){
                    order: 1;
                    margin-bottom: 20px;
                }
                @include mobile-landscape-and-below(){
                    order: 1;
                    margin-bottom: 20px;
                }
            }
            &#actifoot-button{
                @include tablet-only(){
                    order: 2;
                }
                @include mobile-landscape-and-below(){
                    order: 2;
                }
            }
            &#ir2f-button {
                @include tablet-only(){
                    order: 3;
                }
                @include mobile-landscape-and-below(){
                    order: 3;
                }
            }
            &.social-icon{
                padding-bottom: 0px;
                background: transparent;
                margin-right: 0px;
                @include tablet-only(){
                    order: 4;
                    margin-right: 0 !important;
                    flex-direction: column;
                    padding: 48px 50px;
                }
                @include mobile-landscape-and-below(){
                    order: 4;
                    flex-direction: column;
                    padding: 25px 10px;
                }
                h3{
                    width: 180px;
                    font-family: Source Sans Pro;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin: 0;
                    margin-bottom: 15px;
                    @include tablet-only(){
                        width: 100%;
                        font-size: 29px;
                        line-height: 35px;
                        margin-bottom: 40px;
                    }
                    @include mobile-landscape-and-below(){
                        width: 100%;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 25px;
                    }
                }
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 160px;
                    @include tablet-only(){
                        width: 100%;
                    }
                    @include mobile-landscape-and-below(){
                        width: 100%;
                    }
                    li{
                        margin: 0 20px 20px;
                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }
                        &:nth-last-of-type(2) {
                            margin-bottom: 0;
                        }
                        @include tablet-only(){
                            margin: 0 20px;
                        }
                        @include mobile-landscape-and-below(){
                            margin: 0 15px;
                        }
                        @include mobile-portrait-only(){
                            margin: 0 10px;
                        }
                    }
                    img {
                        width: 24px;
                        height: auto;
                        @include tablet-only(){
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }
            p{
                font-family: Source Sans Pro;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #053287;
                margin: 0;
                margin-top: 15px;
                @include desktop-and-below(){
                    font-size: 18px;
                    line-height: 20px;
                }
                @include desktop-only(){
                    font-size: 14px;
                    line-height: 18px;
                }
                @include tablet-only(){
                    font-size: 27px;
                    line-height: 30px;
                    text-align: left;
                    width: 60%;
                    margin-left: 60px;
                    margin-top: 0;
                }
                @include mobile-portrait-only(){
                    font-size: 14px;
                    line-height: 15px;
                    
                }
                @include mobile-landscape-and-below(){
                    text-align: left;
                    margin-left: 30px;
                    margin-top: 0;
                }
            }
        }
    }

    .footer-lgef{
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 5px 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include tablet-landscape-and-below(){
            flex-direction: column;
            padding: 15px 50px;
        }
        .left{
            img{
                width: 240px;
                margin-right: 20px;
                @include full-hd(){
                    width: 260px;
                }
                @include desktop-only(){
                    width: 240px;
                    margin-right: 20px;
                }
                @include tablet-landscape-and-below(){
                    margin-right: 0px;
                    margin-bottom: 20px;
                }
                @include tablet-only(){
                    width: 300px;
                }
            }
        }
        p{
            font-family: Source Sans Pro;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            color: #333333;
            margin: 0;
            @include full-hd(){
                font-size: 24px;
                line-height: 30px;
            }
            @include desktop-only(){
                font-size: 18px;
                line-height: 20px;
            }
            @include tablet-only(){
                font-size: 24px;
                line-height: 26px;
                padding: 10px 0;
            }
            a{
                text-decoration: underline;
                color: #1f8efa;
                &:hover{
                    color: #1f8efa;
                }
            }
        }
    }
}