@import '_responsive.scss';

$josefin: 'Josefin Sans', sans-serif;

body{
    margin: 0;
    padding: 0;
}
.wrap-content{
    position: relative;
    background-color: #053287;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    @include desktop-only(){
        min-height: 120vh;
    }
}

#landing-lgef{
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        @include mobile-landscape-and-below(){
            padding: 30px 40px;
            box-sizing: border-box;
        }
        @include tablet-only(){
            padding: 10px 20px;
        }
        img{
            width: 135px;
            margin-right: 40px;
            @include mobile-landscape-and-below(){
                width: 66px;
                margin-right: 23px;
            }
        }
    }
    h1{
        width: 753px;
        text-align: left;

        font-family: $josefin;
        font-weight: bold;
        font-size: 52px;
        line-height: 52px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px;
        @include mobile-portrait-only(){
            font-size: 13px;
            line-height: 18px;
        }
        @include mobile-landscape-and-below(){
            font-size: 16px;
            line-height: 22px;
            margin: 0;
        }
        @include tablet-only(){
            font-size: 38px;
            line-height: 44px;
        }
    }

    .content{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        @include mobile-landscape-and-below(){
            flex-direction: column;
            width: 80%;
            margin: auto;
        }
        @include tablet-only(){
            flex-direction: column;
            width: 540px;
            margin: auto;
        }
        >img{
            @include mobile-landscape-and-below(){
                margin-bottom: 35px;
                width: 100%;
            }
            @include tablet-only(){
                margin-bottom: 35px;
            }
        }
        .card{
            text-decoration: none;
            background: #FFFFFF;
            border: 5px solid #053287;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 260px;
            height: 200px;
            border: none;
            transition: ease-in-out .1s all;
            &:hover{
                transform: scale(1.25);
                img{
                    transform: scale(1.35);
                }
            }
            @include mobile-landscape-and-below(){
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
                flex-direction: row;
                justify-content: flex-start;
                padding: 25px 30px;
                box-sizing: border-box;
                height: auto;
            }
            @include tablet-only(){
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
                flex-direction: row;
                justify-content: flex-start;
                padding: 20px 60px;
                box-sizing: border-box;
            }
            img{
                width: 90px;
                transition: ease-in-out .3s all;
                @include mobile-landscape-and-below(){
                    width: 70px;
                }
            }
            &#lgef-button{
                position: absolute;
                top: 40px;
                left: -720px;
                right: 0;
                margin: auto;
                @include mobile-landscape-and-below(){
                    position: static;
                    order: 1;
                    margin-bottom: 20px;
                }
                @include tablet-only(){
                    position: static;
                    order: 1;
                    margin-bottom: 20px;
                }
            }
            &#actifoot-button{
                position: absolute;
                top: 90px;
                left: 0;
                right: -710px;
                margin: auto;
                @include mobile-landscape-and-below(){
                    position: static;
                    order: 2;
                }
                @include tablet-only(){
                    position: static;
                    order: 2;
                }
            }
            p{
                font-family: Source Sans Pro;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #053287;
                margin: 0;
                margin-top: 15px;
                @include mobile-portrait-only(){
                    font-size: 14px;
                    line-height: 15px;
                }
                @include mobile-landscape-and-below(){
                    text-align: left;
                    font-size: 18px;
                    line-height: 19px;
                    margin-left: 30px;
                    margin-top: 0;
                }
                @include tablet-only(){
                    font-size: 31px;
                    line-height: 32px;
                    margin-left: 30px;
                    margin-top: 0;
                }
            }
        }
    }

    .social-icon{
        padding-bottom: 150px;
        h3{
            font-family: Source Sans Pro;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 15px;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                margin: 0 15px;
            }
        }
    }

    .footer-lgef{
        width: 100%;
        background-color: #002364;
        text-align: center;
        padding: 20px 50px;
        box-sizing: border-box;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        p{
            font-family: Source Sans Pro;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            margin: 0;
            a{
                text-decoration: underline;
                color: #fff;
                &:hover{
                    color: #fff;
                }
                img{
                    width: 28.51px;
                    margin-left: 10px;
                }
            }
        }
    }
}